* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://i.ibb.co/XtZrb5v/landscape-photography-nature-summer-wallpaper.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 155px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-bottom{
  height: 5px;
  clear: both;
  font-family: Roboto Condensed,sans-serif;
}

.header-bottom a {
  line-height: 65px;
  padding: 0 15px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: 600;
}

.header-bottom a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right .search {
  line-height: 65px;
  padding: 15px 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}


.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* UPDATE HEADER */
.search {
  position: absolute;
  top: 25%;
  /* left: 50%; */
  width: 100%;
  max-width: 400px;
  height: 50px;
  transform: translateX(-50%) translateY(-50%);
}
.search__toggle:checked ~ .search__field {
  width: calc(100% - 80px);
  border-width: 2px;
}
.search__toggle:checked ~ .search__field .search__input::placeholder {
  opacity: 1;
}
.search__toggle:checked ~ .search__field .search__close {
  left: -25px;
}
.search__toggle:checked ~ .search__field .search__button {
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.search__toggle:checked ~ .search__field .search__button--toggle {
  display: none;
}
.search__toggle:checked ~ .search__field .search__button--submit {
  display: flex;
}
.search__close {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  transition: 0.3s;
}
.search__close::before, .search__close::after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 3px;
  background-color: #fff;
}
.search__close::before {
  transform: rotate(45deg);
}
.search__close::after {
  transform: rotate(-45deg);
}
.search__field {
  position: absolute;
  right: 0;
  left: 35%;
  width: 40px;
  height: 45px;
  border: 0px solid #fff;
  border-radius: 50px;
  transform: translateX(-100%);
  transform-origin: right;
  transition: 0.3s;
}
.search__input {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: calc(100% - 40px);
  height: 100%;
  padding: 5px 15px;
  color: white;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.search__input::placeholder {
  color: white;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.search__label {
  cursor: pointer;
}
.search__button {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}
.search__button--submit {
  display: none;
  border: 0;
}
.search__icon {
  position: relative;
  width: 19px;
  height: 19px;
}
.search__icon::before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #0099ff;
  border-radius: 50px;
}
.search__icon::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #0099ff;
  transform: rotate(45deg);
  transform-origin: right;
}

/* Site title */
#site-title {
	font: normal 1.6em serif;
	border-bottom: 1px solid #CCC;
	padding-bottom: 24px;
}
#site-title span {color: #999;}
#site-title a {
	color: #000;
	text-decoration: none;
}


/* Navigation */

#navigation {margin-bottom: 24px;}
#navigation a {
	display: block;
	text-decoration: none;
}

/* Main navigation */

#main-nav a {
	color: #888;
	font-size: 1.5em;
	padding: 9px 14px;
}
#main-nav li {background: url('img/navigation-separator.gif') no-repeat left center;}
#main-nav li:first-child a {background: none;}
#main-nav li.current-tab a, #main-nav a:hover {color: #002;}
#main-nav li.current-tab {background: url('img/navigation-arrow.gif') no-repeat center bottom;}


/* Subnav */

#sub-nav {background: #DDEDF7; padding: 0 5px;}
#sub-nav a {
	color: #678;
	font: bold 1.2em sans-serif;
	padding: 10px;
}
#sub-nav li.current-tab a, #sub-nav a:hover {color: #223;}


/* 
   Alignment 
------------------------------------------------------------------- */

/* General */

.center,.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Images */

img.bordered,img.alignleft,img.alignright,img.aligncenter {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}
img.alignleft, img.left {margin: 0 1.5em 1em 0;}
img.alignright, img.right {margin: 0 0 1em 1.5em;}


/* Floats */   

.left,.alignleft {float: left;}
.right,.alignright {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}


/* 
   Separators 
------------------------------------------------------------------- */

.content-separator, .archive-separator {
	background: #D5D5D5;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;	
}
.content-separator {margin: 20px 0;}
.archive-separator {margin: 10px 0;}


/* 
   Posts 
------------------------------------------------------------------- */

.post a {text-decoration: none;}
.post a:hover {text-decoration: underline;}

.post img.left, .post img.right {margin-bottom: 0;}

.post-date {
	color: #777;
	margin: 2px 0 10px;
}
.post-date a {color: #444;}

.post-title h1, .post-title h2, .post-title h3 {margin-bottom: 0;}

.post-meta {
	background: #F6F6F6;
	border: 1px solid #DDD;
	color: #777;
	padding: 6px 10px;
}
.post-meta a {color: #345; }
.post-meta a:hover {color: #001;}

.post-body {font-size: 1.1em;}
.post-body {width: 50%;}
.post-body a {color: #039;}
.post-body a:hover {color: #039;}

.post-body img.left, .post-body img.right {margin-bottom: 1em;}



/* Archives */
.archive-pagination {margin-bottom: 16px;}
.archive-post-date {
	background: #F5F5F5;
	border-bottom: 1px solid #C5C5C5;
	border-right: 1px solid #CFCFCF;
	float: left;
	margin-right: 12px;
	padding: 2px 0 5px;
	text-align: center;
	width: 46px;
}
.archive-post-title .post-date {margin: 0;}
.archive-post-title {padding-top: 4px;}
.archive-post-day {font: normal 1.6em Georgia,serif;}


/* 
   Layout 
------------------------------------------------------------------- */

/* General */
.center-wrapper {
	margin: 0 auto;
	width: 980px;
}

/* Network */

#network {background: #EEE;}
#network .left {
	color: #333;
	padding: 6px 0;
}
#network .tabbed a {
	display: block;
	padding: 6px 10px 7px;
	text-decoration: none;
	color: #666;
}
#network li a:hover {
	background: #F6F6F6;
	color: #000;
}
#network li.current-tab a {
	background: #FFF;
	font-weight: bold;
}
#network .text-separator, #network span {color: #999;}


.main {margin-bottom: 18px;}
.main#main-three-columns {background: url('img/main-three-columns.gif') repeat-y right top;}
.main#main-three-columns .sidebar {width: 193px;}
.main#main-three-columns #main-left {width: 520px;}

.main#main-two-columns {background: url('img/main-two-columns.gif') repeat-y right top;}
.main#main-two-columns .sidebar {width: 260px;}
.main#main-two-columns #main-left {width: 671px;}

.sidebar a {text-decoration: none;}
.sidebar a:hover {text-decoration: underline;}

#sidebar-1 {
  margin-left: 37px;
  width: 35%;
}

#sidebar-2 {
  margin-left: 37px;
  width: 15%;
}

/* Columns */
.col3 {width: 32%;}
.col3-mid {margin-left: 2%;}

/* Sidebar */

#sidebar-wrapper {}
#sidebar {}


/* Sidebar sections */
.section {margin-bottom: 16px;}
.section-title {
	background-color: #F2F6FA;
	border-top: 2px solid #ABC;
	font: bold 1.1em sans-serif;
	margin-bottom: 5px;
	min-height: 0;
	padding: 5px 8px 6px;
}

.network-section .section-title {
	background-color: #F6F6F6;
	border-color: #D6D6D6;
}